$button-color: rgb(12, 12, 51);
$display-color: rgb(125, 125, 155);

* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: lightgrey;
  font-size: 1.8rem;
}

body {
  display: flex;
  justify-content: center;

  .calcDisplay {
    background-color: white;
    height: 90vh;
    width: 90%;
    max-width: 1000px;
    display: flex;
    align-items: center;
  
    flex-direction: column;
    margin: 2%;
    color: white;

    .answerContainer {
      margin-top: 5%;
      width: 90%;
      height: 12%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: $display-color;

      p {
        margin-right: 2%;
        background-color: $display-color;
        text-align: right;
      }
    }

    .commandContainer {
      background-color: rgb(191, 191, 191);

      width: 90%;
      height: 80%;
      display: grid;
      grid-gap: 2px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        

        background-color: $button-color;
      }
      #buttonEquals {
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-start: 3;
        grid-column-end: 5;
      }
      a:hover {
        background-color: rgb(31, 31, 84);
      }
      a:active {
        background-color: rgb(63, 63, 124);
      }
    }
  }
}
